<html>
    <head>
        <title>Negotiation Fun: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
        	//alert("are we seeing this?");
            
			function handle_submission(data) {
			    if (data.success == 0) {
			        var selected = $('input[name=restaurant]:checked', '#restaurantForm').val();
                    $.getJSON('/_validate', {outcome:selected}, handle_submission);
			    }
				else if (data.success == -1) {
				    jQuery.post('/_validate', {}, null);
					window.alert('You and your friend selected different restaurants. Please make sure you select the correct restaurant before submitting the form!')
					document.getElementById("wait").style.display = "none";
					document.getElementById("restaurantForm").style.display = "block";
					document.getElementById("submitform").style.display = "block";
				}
				else {
				window.alert('Congratulations! Your score for this game is:'+data.score);
				leave_room();
				}
            }
            
	        function onSubmit() {
	            jQuery.post('/_validate', {}, null);
	            var selected = $('input[name=restaurant]:checked', '#restaurantForm').val();
                document.getElementById("wait").style.display = "block";
                document.getElementById("restaurantForm").style.display = "none";
                document.getElementById("submitform").style.display = "none";
                $.getJSON('/_validate', {outcome:selected}, handle_submission);
                return false;
	        }
	        
            $(function() { 
            $("a#submitform").bind('click', onSubmit); 
            });
        </script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    window.location.href = "{{ url_for('main.index') }}";
                    return null;
                });
            }
            window.onbeforeunload = function(){
		        leave_room();
	        }
        </script>
        
        <script type="text/javascript" charset="utf-8">
					function getTimeRemaining(endtime) {
					  var t = Date.parse(endtime) - Date.parse(new Date());
					  var seconds = Math.floor((t / 1000) % 60);
					  var minutes = Math.floor((t / 1000 / 60));
					  return {
					    'total': t,
					    'minutes': minutes,
					    'seconds': seconds
					  };
					}

					function initializeClock(id, endtime) {
					  var clock = document.getElementById(id);
					  var minutesSpan = clock.querySelector('.minutes');
					  var secondsSpan = clock.querySelector('.seconds');

					  function updateClock() {
					    var t = getTimeRemaining(endtime);

					    minutesSpan.innerHTML = t.minutes;
					    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

					    if (t.total <= 0) {
					      clearInterval(timeinterval);
					    }
					  }

					  updateClock();
					  var timeinterval = setInterval(updateClock, 1000);
					}

					var deadline = new Date(Date.parse(new Date()) + {{ scenario.num_seconds }} * 1000);
					initializeClock('clockdiv', deadline);	  
        </script>
    </head>
    <body>
    <div id="chat_container", style="float:left; width:50%">
        <h1>Negotiation Fun</h1>
        <p>
            It's Friday night, and you and your friend, {{partner}} are trying to figure out where to eat dinner.
            You've discovered that there are {{scenario["restaurants"]|length}} restaurants nearby.
            You like some kinds of food better than others, and have a preferred price range in mind.
            Use the chat box below to decide where to go for dinner! Once you've decided on a restaurant, select it
            in the form to the right and submit the form.
        </p>

        <div id="clockdiv">
				  <div>
				    <span class="minutes"></span>
				    <div class="smalltext">Minutes</div>
				  </div>
				  <div>
				    <span class="seconds"></span>
				    <div class="smalltext">Seconds</div>
				  </div>
				</div>

        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="/">Leave this room</a>
    </div>
    <div id="info_container" style="float:left; width:50%">
        <div id="preferences">
            <h3>Your cuisine preferences</h3>
            {% for cuisine in scenario["agents"][agent_number - 1]["cuisine_func"] %}
            <li>{{cuisine[0]}}</li>
            {% endfor %}
            <h3>Your preferred price range</h3>
            {% set price_range = scenario["agents"][agent_number - 1]["spending_func"][0][0] %}
            <p>${{ price_range[0] }} - ${{price_range[1]}}</p>
            <h3>Restaurants nearby</h3>
            {% for restaurant in scenario["restaurants"] %}
            <li><b>{{ restaurant[0] }}</b>: {{ restaurant[1]}}, ${{ restaurant[2][0] }} - ${{ restaurant[2][1] }}</li>
            {% endfor %}
        </div>

        <form id="restaurantForm" method="POST">
            <h3>Choose a restaurant below:</h3>
            {% set ctr = 0 %}
            {% for restaurant in scenario["restaurants"] %}
            <input type="radio" name="restaurant" value={{ctr}}>{{ restaurant[0] }} <br>
            {% set ctr = ctr + 1 %}
            {% endfor %}
        </form>
        <a href="javascript:void();" id="submitform"><button type="button">Pick the restaurant!</button></a>
        <div id="wait" style="display:none">
            <h3>Please wait while we wait for your partner to submit a response...</h3>
        </div>

    </div>
    </body>
</html>
