<html>
    <head>
        <title>Negotiation Fun: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
		    return null;
                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
            window.onbeforeunload = function(){
		leave_room();
	    }
        </script>
    </head>
    <body>
    <div id="chat_container", style="float:left; width:50%">
        <h1>Negotiation Fun</h1>
        <p>
            To the right, we've displayed your culinary preferences and a list of restaurants that you could go to. Your
             goal is to chat with your opponent and decide which of these restaurants to eat at, based on both your
            preferences. May the best negotiator win!
        </p>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="/" onclick="leave_room();">Leave this room</a>
    </div>
    <div id="info_container", style="float:left; width:50%">
        <h3>Some scenario text here</h3>
        <button id="submit">Submit</button>
    </div>
    </body>
</html>
