<html>
    <head>
        <title>Negotiation Game: Where Should We Eat?</title>
        <style>

	  div#questions {
	  float:left;
	  width: 60%;
	  }

	  div#info_container {
	  margin-left: 62%;
	  }
	  img.heart {
	  height: 15px;
	  width: 15px;
	  }

	  img.dollar {
	  height: 16px;
	  width: 9px;
	  }
	  .points {
	  color: #009933;
	  }
	  td {
	  padding: 0 15px 0 15px;
	  }
	  
	  .error {
	  color: #ff0000;
	  }
	  
	  
	  table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    	content: " \25B4\25BE" 
		}	
	  </style>
	  	<script type="text/javascript" src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> 
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function() {
                socket = io.connect('http://' + document.domain + ':' + location.port+'/main');
                socket.on('disconnect', function() {
                	socket.disconnect();
                });
            });
            function validateAndSubmit() {
	            console.log("validating response");
            	data = validateResponse();
            	console.log(data);
            	if (data['valid']) {
                    socket.emit('submit_task', data, function() {
                        window.location.reload(true);
                    });
            	}
            }

            function validateResponse() {
                ddRestaurants = document.getElementById("restaurantChoices");
            	textArea = document.getElementById("starterText");
            	selected_idx = ddRestaurants.options[ddRestaurants.selectedIndex].value;
            	selected_restaurant = ddRestaurants.options[ddRestaurants.selectedIndex].text;
            	starter_text = starterText.value;

            	if (selected_idx != -1 && starter_text != "") {
            		console.log("valid");
            	    document.getElementById('choiceError').style.display="none";
            	    document.getElementById('textError').style.display="none";
            	    return {'restaurant': selected_restaurant,
            	    		'restaurant_index': selected_idx,
            	            'starter_text': starter_text,
            	            'valid': true};
            	}
            	if (selected_idx == -1) {
            	    document.getElementById('choiceError').style.display="block";
            	}
            	if (starter_text == "") {
                    document.getElementById('textError').style.display="block";
            	}
				console.log("error");
            	return {'valid': false};
            }
		</script>
    </head>
    <body>
    <div id="questions">
        <h2>Negotiation Game: Where Should We Eat?</h2>
        <h4>
            There are no other users online at the moment - practice your negotiation skills in the meantime!
        </h4>
        <p>
            Imagine that it's a Friday night, and you're about to chat with a friend to decide where to go for dinner.
            You've discovered that there are <b>{{scenario["restaurants"]|length}}</b> restaurants nearby.
            Take a look at your preferences for cuisine and price range <b>to the right</b>, and then answer the questions <b>below</b>.
        </p>
        <hr>
        <h4>
            Given your preferences and the different restaurant options, which restaurant would be your top choice?
        </h4>

        <div id="choiceError" class="error" style="display:none"><h3>Please select a valid option below</h3></div>
        <select id="restaurantChoices">
            <option selected="selected" value=-1>-- Select one --</option>
            {% set ctr = 0 %}
            {% for restaurant in scenario["restaurants"] %}
            <option value={{ctr}}>{{ restaurant["name"] }}</option>
            {% set ctr = ctr + 1 %}
            {% endfor %}
        </select>
        <h4>
            What is the first thing you would say to negotiate on a place to eat?
        </h4>
        <div id="textError" class="error" style="display:none"><h3>Please enter your response in the box.</h3></div>
        <textarea id="starterText" rows="2" cols="50"></textarea>
        <button id="submit_task" onclick="validateAndSubmit();">
            Submit!
        </button>
    </div>

	<div id="info_container">
	<div id="preferences">

            <h3>Your cuisine preferences</h3>
            <table class="cuisine_preferences_list">
				{% for cuisine in agent["cuisine_func"] %}
					<tr>
						<td>{{cuisine["cuisine"]}} </td>
						<td>
						{% if config["numerical_preferences"] %} 
						<span class="points"> ({{ cuisine["utility"] }} points) </span> 
						{% else %} 
						{% for i in range(cuisine["utility_rating"]) %} <img src="{{ url_for('static', filename='img/heart.svg') }}" class="heart"/> {% endfor %}
						{% endif %} 
						</td>
				  </tr>
					{% endfor %}
			</table>

            <h3>Your price range preference</h3>

	    {% if config["numerical_prices"] %} 
	    <ul>
	      {% for obj in agent["spending_func"] %}
              <li>
		${{ obj["price_range"][0] }} - ${{ obj["price_range"][1] }}
	      </li>
	      <span class="points"> ({{ obj["utility"] }} points) </span> </li>
              {% endfor %}
	    </ul>

            {% else %}
            {% for i in range((agent["spending_func"][0]["price_rating"]) | int) %} 
              <img src="{{ url_for('static', filename='img/dollar.png') }}" class="dollar"/> 
            {% endfor %}
            {% endif %}

            <h3>Restaurants nearby</h3>
	    <table class="sortable">
	    <thead>
	    <tr>
	    <th>Name</th>
	    <th>Cuisine</th>
	    <th class="sorttable_numeric">Price range</th>
	    </tr>
	    </thead>
	    <tbody>
            {% for restaurant in scenario["restaurants"] %}
            <tr>
				<td><b>{{ restaurant["name"] }}</b></td>
				<td>{{ restaurant["cuisine"]}}</td> 
				
				<td sorttable_customkey="{{restaurant['price_rating'] | int}}">
				  {% if config["numerical_prices"] %} 
				  ${{ restaurant["price_range"][0] }} - ${{ restaurant["price_range"][1] }}
					  {% else %}
						{% for i in range((restaurant["price_rating"]) | int) %} 
					  <img src="{{ url_for('static', filename='img/dollar.png') }}" class="dollar"/> 
						{% endfor %}
					{% endif %}
				</td>
	    	</tr>
	    {% endfor %}
	    </tbody>
	    </table>
        </div>
        </div>
    </body>
</html>