<html>
    <head>
        <title>Negotiation Fun</title>
    </head>
    <body>
    <div id="content">
        <h3>
            There are no users currently online to test your negotiation skills against :( . While you wait, you
            can answer some questions for fun instead!
        </h3>
        <h4>
            Some randomly generated content here.
        </h4>
        <button id="submit_task">
            Submit and find me an opponent!
        </button>
    </div>

    </body>
</html>